.body {
  position: absolute;
  top: 2.7rem;
  left: 0;
  display: block;
  font-size: 90%;
  width: calc(100% - 1px);
  padding-left: 4rem;
  padding-right: 0rem;
  background-color: rgba(0, 0, 0, 0);
  min-height: calc(100vh - 9rem);
  height: calc(100%);
  font-weight: 100;
  line-height: 1.2rem;
  /* font-size: 16px; */
  transform: scale(1);
  border: solid 0 black;
  background-color: transparent;
  z-index: 100;
  overflow-wrap: break-word;
  font-family: inherit;
  font-weight: inherit;
}
.editorRows {
  display: flex;
  position: absolute;
  height: calc(100vh - 9rem);
  width: calc(100% - 1px);
  top: 2.8rem;
  left: 0;
  display: block;
  font-size: 90%;
  z-index: 90;
}
